.dashboard-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;
}

.ant-card-hoverable:hover {
    border: 1px solid #c41d7f;
}

.notification-card-text {
    font-size: large;
    font-weight: bold;
    height: 300px;
}


.ant-list-split .ant-list-item {
    border-bottom: 0;
}