.dashboard-content {
    border-bottom: 0;
    background: white;
}
.dashboard-card {
    width: 220px;
    height: 105px;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}
.ticket-card {
    margin-top: 20px;
    background: white;
    border: 1px solid #e8e8e8;
    border-radius: 10px;
}

.ticket-header {
    display: flex;
    width: 100%;
    padding: 8px 24px;
}

.right-card-header {
    margin-left: auto;
    order: 1;
}
.ticket-sub-header{
    padding: 8px 24px;
}
.card-container{
    overflow: auto;
    padding: 8px 24px;
    width: 480px;
}

.search-campaigns {
    width: 200px;
}