.center_card {
    min-width: 100%;
    text-align: center;
    margin-top: 70px;
}

.card_background {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}