.ant-layout {
    background: #fff;
}

.page_header {
    border: 1px solid rgb(235, 237, 240);
    border-radius: 4px;
}

.avatar-uploader>.ant-upload {
    width: 128px;
    height: 128px;
}

.img {
    text-align: center;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    height: 300px;
}
