.header-menu {
    padding: 0;
    background: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 1;
} 

.left-nav-menu {
    border-bottom: transparent;
    position: relative;
    float: left;
    top: 50%;
    transform: translateY(-50%);
}

.right-nav-menu {
    border-bottom: transparent;
    position: relative;
    float: right;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
}

.header {
    min-height: 10vh;
    background-color: #fff;
}

.content {
    min-height: 80vh;
    text-align: center;
    background-color: #fff;
}

.footer {
    min-height: 10vh;
    background-color: #fff;
}

.center_form {
    margin: auto;
}