.ant-layout {
    background: #fff;
}

.steps-content {
    min-height: 50vh;
}


.total_text {
    font-family: 'Courier New', Courier, monospace;
}

.image_div {
    padding: 32px;
    width: 80%;
}