.image-container{
    margin-left: 50px;
    width: 20%;
}

.section-one{
    background-color: #FDF0F7;
    height: 500px;
}

.section-two, .section-three{
    height: 500px;
}

.home-page-text {
    margin-left: 20px;
}

.half-landing-text, .half-landing-div {
    margin-left: 5px;
}

.half-landing-div {
    margin-bottom: 5px;
}
.home-page-section {
    margin-left: 20px;
    margin-right: 100px;
}

.landing-class {
    margin-top: 70px;
}

.screen-image{
    height: 400px;
}

.home-page-title{
    margin-left: 20px;
    text-transform: uppercase;
}

.card-carousel {
    height: 350px;
    margin-top: 20px;
}

@media(max-width: 767px) {
    .hide-image-container {
        display: none;
    }
}