.content {
    min-height: 80vh;
    background-color: #fff;
    padding: 0 2%;
}

header.ant-layout-header {
    background: #fff;
}

footer.ant-layout-footer {
    background: #fff;
}

aside.ant-layout-sider {
    background-color: #fff;
}

section.ant-layout.ant-layout-has-sider {
    margin-top: 75px !important;
}

.center_form {
    margin: auto;
}

.side-menu-item {
    position: fixed;
}

.side-menu-item .ant-menu-inline {
    border-right: 0;
}

.side-menu-item .ant-layout-sider-trigger {
    background: #c41d7f;
}

.header-menu {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.right-nav {
    position: relative;
    float: right;
    top: 50%;
    transform: translateY(-50%);
}

.left-menu {
    position: relative;
    float: left;
    top: 50%;
    transform: translateY(-50%);
}

header.header-menu.ant-layout-header {
    padding: 0 20px;
}

section.ant-layout.ant-layout-has-sider {
    margin-top: 100px;
}

aside.ant-layout-sider {
    position: fixed;
}

.ant-layout-content {
    margin-left: 190px;
}

li.ant-menu-item.header-item:hover {
    border-bottom: 2px solid transparent;
    color: inherit;
}

.anticon svg {
    margin-bottom: 6px !important;
}

@media(max-width: 767px) {
    .display-name {
        display: none;
    }

    .ant-layout-content {
        margin-left: 70px;
    }
}