.content {
    min-height: 80vh;
    background-color: #fff;
}

header.ant-layout-header {
    background: #fff;
    min-height: 10vh;
}

footer.ant-layout-footer {
    background: #fff;
    min-height: 10vh;
}

aside.ant-layout-sider {
    background-color: #fff;
}

.center_form {
    margin: auto;
}

.anticon svg {
    margin-bottom: 6px;
}

.side-menu-item .ant-menu-inline {
    border-right: 0;
}

.side-menu-item .ant-layout-sider-trigger {
    background: #c41d7f;
}