.content {
    min-height: 80vh;
    background-color: #fff;
}

.uncollapsed_sidebar {
    margin-left: 120px;
}

.adjust_sidebar {
    margin-left: 60px;
}

header.ant-layout-header {
    background: #fff;
}

footer.ant-layout-footer {
    background: #fff;
}

aside.ant-layout-sider {
    background-color: #fff;
}

section.ant-layout.ant-layout-has-sider {
    margin-top: 75px;
}

.center_form {
    margin: auto;
}


.side-menu-item .ant-layout-sider-trigger {
    background: #c41d7f;
}

.header-menu {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.right-nav {
    position: relative;
    float: right;
    top: 50%;
    transform: translateY(-50%);
}

.left-menu {
    position: relative;
    float: left;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 0px;
}

header.ant-layout-header {
    padding: 0 2%;
}

li.ant-menu-item.header-item:hover {
    border-bottom: 2px solid transparent;
    color: inherit;
}

.anticon svg {
    vertical-align: initial;
}

.ant-steps-icon .anticon svg {
    vertical-align: inherit;
}

@media(max-width: 425px) {
    .display-name {
        display: none;
    }
}

@media(min-width: 424px) {
    .adjust_sidebar {
        margin-left: 60px;
    }
}

@media(min-width: 767px) {
    .uncollapsed_sidebar {
        margin-left: 200px;
    }

    .adjust_sidebar {
        margin-left: 30px;
    }
}

@media(min-width: 1023px) {
    .uncollapsed_sidebar {
        margin-left: 200px;
    }

    .adjust_sidebar {
        margin-left: 80px;
    }
}